---
layout: layout.liquid
title: Explorers Blog
---

<h1>The Explorer's Blog</h1>
<h2>Welcome to The Explorer's Blog!</h2>

<p>This website is meant to keep a log of my adventures in the stars. Every week, I'll post a new log, detailing my journey and its endeavors. I hope you choose to join me in my exploration of the galaxy and enjoy the many tales I'm excited to share. Below, I'll keep a list of my blogs for your reading pleasure, please click one of the buttons to read!</p>
<button> <a href="/blog_one/" title="Blog #1">Blog#1</a></button>
<button> <a href="/blog_two/" title="Blog #2">Blog#2</a></button>