/**
Color pallete:
383D3B - onyx
EEE5E9 - lavender blush
7C7C7C - Gray
92DCE5 - non photo blue
52DEE5 - robin egg blue
*/


body {
    font-family: Helvetica, sans-serif;
    color: #EEE5E9;
    background: #383D3B;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 60px auto 0 auto;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    background: #92DCE5;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #383D3B;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color:#EEE5E9;
}

h1 {
    font-size: 6em;
    letter-spacing: -2px;
    margin-bottom: 0;
}

h2 {
    margin-top:0;
    font-size: 2.5em;
}

img {
    display: flex;
    margin-top: 40px;
}

.header{
    display: flex;
}

button{
    font-size: 30px;
    font-family: Helvetica;
    background: #92DCE5;
    border-radius: 15px;
}

button a{
    text-decoration: none;
    color: #383D3B;
}

button:hover{
    background: #EEE5E9;
}

.blogPostHeader{
    background: #7C7C7C;
}

.blog_name{
    font-size: 35px;
    font-weight: bold;
}

.author_name{
    font-size: 25px;
    margin-top:10px;
    margin-bottom: 50px;
}