/**
Color pallete:
383D3B - onyx
EEE5E9 - lavender blush
7C7C7C - Gray
92DCE5 - non photo blue
52DEE5 - robin egg blue
*/


body {
    font-family: Helvetica, sans-serif;
    color: #EEE5E9;
    background: #383D3B;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #92DCE5;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #383D3B;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 6em;
    letter-spacing: -2px;
}

img.about {
    opacity: 0.5;
}